<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>hero</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,32.000 }</string>	
								<string>{ -32.000,-18.000 }</string>	
								<string>{ -11.000,-31.000 }</string>	
								<string>{ 11.000,-31.000 }</string>	
								<string>{ 32.000,-17.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>enemy00</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -28.000,-17.000 }</string>	
								<string>{ -1.000,-32.000 }</string>	
								<string>{ 20.000,-25.000 }</string>	
								<string>{ 28.000,-16.000 }</string>	
								<string>{ -17.000,32.000 }</string>	
								<string>{ -27.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 18.000,32.000 }</string>	
								<string>{ -17.000,32.000 }</string>	
								<string>{ 28.000,-16.000 }</string>	
								<string>{ 28.000,17.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>enemy01</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>30.414</real>
                             <key>position</key> <string>{ -0.290,0.583 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>enemy02</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -17.000,31.000 }</string>	
								<string>{ -34.000,-3.000 }</string>	
								<string>{ -26.000,-19.000 }</string>	
								<string>{ 0.000,-34.000 }</string>	
								<string>{ 25.000,-20.000 }</string>	
								<string>{ 34.000,-3.000 }</string>	
								<string>{ 17.000,31.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>enemy03</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -40.000,-64.000 }</string>	
								<string>{ 40.000,-64.000 }</string>	
								<string>{ 63.000,-44.000 }</string>	
								<string>{ 62.000,48.000 }</string>	
								<string>{ 40.000,64.000 }</string>	
								<string>{ -37.000,64.000 }</string>	
								<string>{ -58.000,52.000 }</string>	
								<string>{ -63.000,-36.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>enemy04</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>30.017</real>
                             <key>position</key> <string>{ -0.255,0.679 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>enemy05</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2.000,-64.000 }</string>	
								<string>{ -3.000,25.000 }</string>	
								<string>{ -77.000,66.000 }</string>	
								<string>{ -132.000,11.000 }</string>	
								<string>{ -109.000,-56.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 3.000,-61.000 }</string>	
								<string>{ 106.000,-58.000 }</string>	
								<string>{ 135.000,8.000 }</string>	
								<string>{ 80.000,66.000 }</string>	
								<string>{ -2.000,23.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>enemy06</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 111.000,-10.000 }</string>	
								<string>{ 41.000,60.000 }</string>	
								<string>{ -62.000,63.000 }</string>	
								<string>{ -127.000,17.000 }</string>	
								<string>{ -120.000,-27.000 }</string>	
								<string>{ -47.000,-64.000 }</string>	
								<string>{ -12.000,-64.000 }</string>	
								<string>{ 65.000,-52.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 125.000,19.000 }</string>	
								<string>{ 87.000,55.000 }</string>	
								<string>{ 53.000,47.000 }</string>	
								<string>{ 93.000,7.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

